
 <h4>Registered User Details:</h4>
<div class="container">
      <table class="table table-striped">
      <thead>
          <tr>
            <th>Account Number</th>
            <th>Deposit</th>
            <th>Withdraw</th>
            <th>Transaction Date</th>
           </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.accountId }}</td>
          <td>{{ transaction.depositAmount }}</td>
          <td>{{ transaction.withdrawAmount }}</td>
          <td>{{ transaction.transactionDate }}</td>
         
        </tr>
      </tbody>
    </table>
    
  </div>

  