table {
    width: 100%;
   
  }

  .table-striped{
    width: 100%;
    border-style: dashed;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  .mat-column-position {
    max-width: 100px;
  }
  
  .mat-column-name {
    max-width: 100px;
  }