@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
}

.spacer {
    flex-grow: 1;
}


.medium-list {
    margin: auto;
    width: 600px;
    padding: 10px;
  }
     
  .list-viewer-wrapper {
    border: 1px solid rgba(0, 0, 0, .03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    margin: 4px;
  }
  
  .list-header-title {
    color: rgba(0, 0, 0, .54);
    background: rgba(0, 0, 0, .03);
    padding: 8px 20px;
    font-weight: bold;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
 
  .divider {
    margin-top: 10px !important; 
  }

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

body, html {
    height: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}